.SelectInput {
  height: 100%;
  border: 2px solid var(--color-grey);
  background-color: transparent;
  padding-left: 3rem;
  padding-right: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  font-family: inherit;
  color: var(--color-pruple);

}
