.btn {
  padding: 1rem 2rem;
  font-family: "Cairo";
  background-color: var(--color-primary);
  outline: none;
  border: none;
  color: var(--color-white);
  border-radius: 0.5rem;
  box-shadow: 0 1rem 2.5rem rgba(#ff754c, 0.7);
  cursor: pointer;
  transition: transform 0.2s ease-in;
  &:hover {
    transform: translateY(0.2rem) scale(1.1);
  }

  &--grey {
    background-color: var(--color-grey);
    color: var(--color-purple);
    box-shadow: none;
  }

  &--outline {
    border: 2px solid var(--color-grey-1);
    color: var(--color-black);
    background-color: transparent;
    box-shadow: none;
  }
}
